<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Doors</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>

    <script>
        var dbcomplete = <%- JSON.stringify(db)%>;
    </script>

</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Doors</h1>
    <form class="privileges" method="post" action="/addLogDoors">
        <table style="width:100%">
            <tr>
                <td>Front Door</td>
                <td>Closed</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Back Door</td>
                <td>Closed</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>

        <br>
        <br>

        <input class="submitButton" value="Add Log" type="submit">
    </form>

</div>
<div id="doortTable">
    <h2>Access Log:</h2>
    <br>

    <table style="width:100%">
        <tr>
            <td>First Name:</td>
            <td>Last Name:</td>
            <td>Open/Close:</td>
            <td>Date:</td>
            <td>Time:</td>
        </tr>

            <script>
                for(var i=0;i<dbcomplete.length;i++) {
                    document.write('<tr>');
                    document.write('<td>' + dbcomplete[i].name + '</td>');
                    document.write('<td>' + dbcomplete[i].lastname + '</td>');
                    document.write('<td>' + dbcomplete[i].action + '</td>');
                    document.write('<td>' + dbcomplete[i].date + '</td>');
                    document.write('<td>' + dbcomplete[i].time + '</td>');
                    document.write('</tr>');
                }
            </script>
    </table>
</div>
</body>
</html>