<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Doors</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <p>Door page</p>
</div>

</body>
</html>
