<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Profiles</title>
    <script type="text/javascript" src="functions.js"></script>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Edit Profile</h1>
    <form class="privileges" method="post" action="/updatePrivileges">
        <select id="profileSelect">
            <option value="">-select a profile-</option>
        </select>


        <h3>Lights</h3>
        <label for="bedroomLight">Bedroom</label>
        <input id="bedroomLight" type="checkbox">

        <br>

        <label for="officeLight">Office</label>
        <input id="officeLight" type="checkbox">

        <br>

        <label for="kitchenLight">Kitchen</label>
        <input id="kitchenLight" type="checkbox">


        <br>

        <label for="livingLight">Living Room</label>
        <input id="livingLight" type="checkbox">

        <br>

        <label for="bathroomLight">Bathroom</label>
        <input id="bathroomLight" type="checkbox">

        <br>

        <label for="laundryLight">Laundry</label>
        <input id="laundryLight" type="checkbox">


        <br>
        <br>

        <h3>Doors</h3>
        <label for="frontDoor">Front Door</label>
        <input id="frontDoor" type="checkbox">

        <br>

        <label for="backDoor">Back Door</label>
        <input id="backDoor" type="checkbox">

        <br>
        <br>

        <h3>Miscellaneous</h3>
        <label for="temperature">Temperature</label>
        <input id="temperature" type="checkbox">

        <br>

        <label for="humidity">Humidity</label>
        <input id="humidity" type="checkbox">

        <br>
        <br>

        <h3>Security</h3>
        <label for="emailNotifications">Email Notifications</label>
        <input id="emailNotifications" type="checkbox">

        <br>
        <br>

        <h3>Admin Privileges</h3>
        <label for="adminPrivileges">All Admin Privileges</label>
        <input id="adminPrivileges" type="checkbox">
        <br>

        <input class="submitButton" value="Save Changes" type="submit">
        <input class="submitButton" value="Remove User" type="button" onclick="" style="margin-right:150px">

    </form>

</div>

</body>
</html>
