<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div id="content">
    <p>Hello, <%= user.username %></p>
    <br>

    <p>Temperature: <%= temperature %></p>

    <div class="housePlan">
        <img src="/HousePlan.png">

        <script>
            var state = "off";
            function toggleImg() {
                if (state === "off") {
                    document.getElementById("light").src = "/Light-On.png";
                    state = "on";
                    console.log(state);
                } else {
                    document.getElementById("light").src = "/Light-Off.png";
                    state = "off";
                }
                console.log(state);
                console.log("1");
            }


            if (state === "off") {
                document.getElementById("light").src = "/Light-Off.png";
            } else {
                document.getElementById("light").src = "/Light-On.png";
            }
        </script>
        <img id="light" src="/Light-On.png" onmouseover="this.style.cursor='pointer'" onclick="toggleImg()"/>
    </div>


</div>
</body>
</html>