<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lights</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Lights</h1>
    <form class="lightConsumption" method="post" action="/updatePrivileges">

        <label for="bedroomLight">Bedroom</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="bedroomLight" type="checkbox">

        <br>

        <label for="officeLight">Office</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="officeLight" type="checkbox">

        <br>

        <label for="kitchenLight">Kitchen</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="kitchenLight" type="checkbox">

        <br>

        <label for="livingLight">Living Room</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="livingLight" type="checkbox">

        <br>

        <label for="bathroomLight">Bathroom</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="bathroomLight" type="checkbox">

        <br>

        <label for="laundryLight">Laundry</label>
        <span class="consumptionLabel">KW: 0</span>
        <input id="laundryLight" type="checkbox">

        <br>
        <br>

        <h2>Total Current Usage:</h2>

        <br>

        <h2>Total Usage:</h2>

    </form>

</div>
</body>
</html>