
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Appliances</a>
            <ul>
                <li><a href="/doors">Doors</a></li>
                <li><a href="/lights">Lights</a></li>
            </ul>
        </li>
        <li><a href="/profiles">Profiles/Admin</a></li>

    </ul>
    <ul class="floatRight">
        <li><a href="/login">Log out</a></li>
    </ul>
</nav>

