<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Doors</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <form class="privileges" method="post" action="/createProfile">
        <h1>Create New Profile</h1>

        <h2>User Info</h2>

        <div>
            <label for="firstName">First Name: </label>
            <input id="firstName" name="firstName" type="text" required>
        </div>

        <div>
            <label for="lastName">Last Name: </label>
            <input id="lastName" name="lastName" type="text" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input id="email" name="email" type="text" required>
        </div>

        <div>
            <label for="username">Username: </label>
            <input id="username" name="username" type="text" required>
        </div>

        <div>
            <label for="password">Password: </label>
            <input id="password" name="password" type="password" required>
        </div>

        <div>
            <label for="confirmPassword">Confirm Password: </label>
            <input id="confirmPassword" name="confirmPassword" type="password" required>
        </div>

        <h2>User Privileges</h2>

        <h3>Lights</h3>

        <div>
            <label for="bedroomLight">Bedroom</label>
            <input id="bedroomLight" name="bedroomLight" type="checkbox">
        </div>

        <div>
            <label for="officeLight">Office</label>
            <input id="officeLight" name="officeLight" type="checkbox">
        </div>

        <div>
            <label for="kitchenLight">Kitchen</label>
            <input id="kitchenLight" name="kitchenLight" type="checkbox">
        </div>

        <div>
            <label for="livingLight">Living Room</label>
            <input id="livingLight" name="livingLight" type="checkbox">
        </div>

        <div>
            <label for="bathroomLight">Bathroom</label>
            <input id="bathroomLight" name="bathroomLight" type="checkbox">
        </div>

        <div>
            <label for="laundryLight">Laundry</label>
            <input id="laundryLight" name="laundryLight" type="checkbox">

        </div>

        <h3>Doors</h3>

        <div>
            <label for="frontDoor">Front Door</label>
            <input id="frontDoor" name="frontDoor" type="checkbox">
        </div>

        <div>
            <label for="backDoor">Back Door</label>
            <input id="backDoor" name="backDoor" type="checkbox">
        </div>

        <h3>Miscellaneous</h3>

        <div>
            <label for="temperature">Temperature</label>
            <input id="temperature" name="temperature" type="checkbox">
        </div>

        <div>
            <label for="humidity">Humidity</label>
            <input id="humidity" name="humidity" type="checkbox">
        </div>

        <h3>Security</h3>

        <div>
            <label for="emailNotifications">Email Notifications</label>
            <input id="emailNotifications" name="emailNotifications" type="checkbox">
        </div>

        <h3>Admin Privileges</h3>

        <div>
            <label for="adminPrivileges">All Admin Privileges</label>
            <input id="adminPrivileges" name="adminPrivileges" type="checkbox">
        </div>

        <input class="submitButton" value="Create Profile" type="submit">


    </form>


</div>

</body>
</html>
